{{ $email := promptStringOnce . "email" "What is your email address" -}}

pager = "delta"
encryption = "age"

[data]
email = {{ $email | quote }}

[edit]
command = "nvim"

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1r2lrf7ka6aklavnnwqgyyy8c9x4tusz8ccwasrsd7g6url99sv2sm564zu"
