**/netskope.yml
**/*DS_Store
private_Library/private_Application Support/espanso/dot_sync/ID
private_Library/private_Application Support/espanso/dot_sync/IgnoreList
private_Library/private_Application Support/espanso/dot_sync/StreamsList
private_Library/private_Application Support/espanso/dot_sync/private_empty_root_acl_entry
private_Library/private_Application Support/espanso/empty_Icon
