[user]
	name = Jesus Anaya
	email = {{ .email }}
[alias]
  tags = tag -n99
  logs = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'
  logz = log --pretty='%(describe:tags=true,abbrev=0)' | uniq | head -n 10
	co = checkout
	cm = commit -m
	pulll = pull --autostash
	blamee = blame -w -C -C -C
	fpush = push --force-with-lease
	difl = diff @{upstream}
	lg = log --color --graph --pretty=format:'%C(bold green)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status -sb
	last = log -1 HEAD --stat
	d = diff
	se = !git rev-list --all | xargs git grep -F
[core]
  editor = nvim
  pager = delta
[pull]
  rebase = true
[push]
  default = current
[fetch]
  prune = true
[diff]
  colorMoved = default
[merge]
  conflictstyle = diff3
	tool = meld
[rebase]
	autoStash = true
[rerere]
	enabled = true
	autoUpdate = true
[branch]
	sort = -committerdate
[delta]
  features = decorations
  side-by-side = false
  map-styles = bold purple
  navigate = true
  line-numbers = true
  map-styles = bold purple => syntax magenta, bold cyan => syntax blue
[delta "interactive"]
  keep-plus-minus-markers = false
  diffFilter = delta --color-only --features=interactive --diff-so-fancy
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax


[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
