{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -e
set -x

ZSH_PLUGINS_DIR=${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/plugins

# zsh-autosuggestions
if [ ! -d "$ZSH_PLUGINS_DIR/zsh-autosuggestions" ]; then
    git clone --depth 1 -- https://github.com/zsh-users/zsh-autosuggestions.git "$ZSH_PLUGINS_DIR/zsh-autosuggestions"
fi

# zsh-autocomplete
if [ ! -d "$ZSH_PLUGINS_DIR/zsh-autocomplete" ]; then
    git clone --depth 1 -- https://github.com/marlonrichert/zsh-autocomplete.git "$ZSH_PLUGINS_DIR/zsh-autocomplete"
fi

# fast-syntax-highlighting
if [ ! -d "$ZSH_PLUGINS_DIR/fast-syntax-highlighting" ]; then
    git clone --depth 1 -- https://github.com/zdharma-continuum/fast-syntax-highlighting.git "$ZSH_PLUGINS_DIR/fast-syntax-highlighting"
fi

if [ ! -d "$ZSH_PLUGINS_DIR/zsh-syntax-highlighting" ]; then
    git clone --depth 1 -- https://github.com/zsh-users/zsh-syntax-highlighting.git "$ZSH_PLUGINS_DIR/zsh-syntax-highlighting"
fi

if [ ! -d ".oh-my-zsh/custom/themes/powerlevel9k" ]; then
  git clone --depth 1 -- https://github.com/bhilburn/powerlevel9k.git ".oh-my-zsh/custom/themes/powerlevel9k"
fi

if [ ! -d ".oh-my-zsh/custom/themes/powerlevel10k" ]; then
  git clone --depth 1 -- https://github.com/romkatv/powerlevel10k.git ".oh-my-zsh/custom/themes/powerlevel10k"
fi

{{ end -}}
