{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install Homebrew packages for macOS
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else if eq .chezmoi.os "linux" -}}
#!/bin/bash

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
# Update and install APT packages for Ubuntu
sudo apt-get update
sudo apt-get install -y {{ range .packages.ubuntu.apt }}{{ . | quote }} {{ end }}
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.ubuntu.brew -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ end -}}
